@media (max-width: 768px) {
  .row .col-md-3 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .row .col-md-3 .contact-img {
    width: 120px;
    height: 120px;
  }

  .row .col .btn {
    display: flex;
    justify-content: center;
  }
}

.col-md-3 .contact-img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
